html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(240, 231, 215);
  color: black;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header__container {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 150%;
  font-weight: 500;
  height: 96px;
  background-color: #393939;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}
.header__container__hidden-btn {
  display: none;
}
.header__logo {
  max-width: 100%;
  margin-left: 100px;
  max-height: auto;
  display: block;
}

.nav__list__container {
  width: auto;
  margin: 0;
}
.nav__list {
  display: flex;
  padding-inline: 20px;
  justify-content: space-around;
}
.nav__list__item {
  margin-inline: 20px;
  list-style-type: none;
  justify-content: end;
  text-align: center;
  align-items: center;
}

.promo {
  width: 100%;
  background-color: #393939;
  border-bottom: 1px, solid, #ffffff;
}
.promo__container {
  height: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.promo__container__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
}
.promo__container__items__above {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393939;
}
.promo__container__items__above__div {
  display: flex;
  flex-direction: column;
}
.promo__container__items__above__div__title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}
.promo__container__items__above__div__title span {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: orange;
  letter-spacing: 1px;
  line-height: 90px;
  font-weight: 700;
}
.promo__container__items__above__div__hr {
  border: 3px solid #f87c34;
  width: 100%;
}
.promo__container__items__above__div__text {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 47px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
.promo__container__items__above__div__span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #f87c34;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
}
.promo__container__items__below {
  align-self: flex-end;
  display: flex;
}
.promo__container__items__below__btns {
  margin-inline: 20px;
  width: 200px;
  height: 46px;
  background-color: orange;
  border-radius: 24px 24px 0px 0px;
}
.promo__container__images {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}
.promo__container__images img {
  height: 360px;
  max-width: 360px;
  align-self: center;
}
.promo__logo {
  width: 160px;
  height: 150px;
  margin-right: 10px;
}

.welcoming {
  width: 100%;
}
.welcoming__container {
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.welcoming__container__title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 57px;
  font-weight: 600;
  text-align: center;
}
.welcoming__container__title__span {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: orange;
  letter-spacing: 1px;
  line-height: 57px;
  font-weight: 600;
}
.welcoming__container__discription {
  display: flex;
  justify-content: space-around;
  border-color: orange;
  border-style: solid;
  border-width: 5px;
}
.welcoming__container__discription__title {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 49px;
  font-weight: 600;
}
.welcoming__container__discription__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 33px;
  font-weight: 400;
}
.welcoming__container__discription__logo {
  display: flex;
  justify-content: center;
  width: 282px;
  height: 282px;
  border-radius: 282px;
  background-color: #393939;
  align-self: center;
  text-align: center;
  margin-top: 30px;
}
.welcoming__container__discription__logo__img {
  height: 115px;
  width: 90px;
  align-self: center;
}
.welcoming__container__discription__logo__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 60px;
  font-weight: 700;
  align-self: center;
}
.welcoming__container__discription__logo__span {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: orange;
  letter-spacing: 1px;
  line-height: 60px;
  font-weight: 700;
}
.welcoming__container__mission {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.welcoming__container__mission__textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.welcoming__container__mission__textcontainer__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 33px;
  font-weight: 500;
}
.welcoming__container__mission__sidecontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.welcoming__container__mission__sidecontainer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcoming__container__mission__sidecontainer__title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  color: orange;
  letter-spacing: 1px;
  line-height: 82px;
  font-weight: 500;
  margin-bottom: 0px;
}
.welcoming__container__mission__sidecontainer__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 33px;
  font-weight: 600;
  text-align: center;
}

.services {
  width: 100%;
  background-color: #f87c34;
  display: flex;
  flex-direction: column;
  height: 400px;
}
.services__title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 57px;
  font-weight: 600;
  text-align: center;
}
.services__container {
  display: flex;
  justify-content: center;
}
.services__container__items {
  width: 275px;
  height: 210px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services__container__items__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 41px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}
.services__container__items__hr {
  border-color: #f87c34;
  border-width: 2px;
  border-style: solid;
  width: 90%;
}
.services__container__items div {
  display: flex;
  justify-content: space-around;
}
.services__container__items div__img {
  width: 55px;
  height: 55px;
}
.services__container__items div p {
  color: #000000;
  font-size: 40px;
  margin: 0;
  font-weight: 1000;
}

#services__container__items__title {
  margin-bottom: 0px;
}

.range__title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 57px;
  font-weight: 600;
  text-align: center;
}
.range__container {
  max-width: 1180px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}
.range__container__items {
  background-color: white;
  text-align: center;
}
.range__container__items__above {
  display: flex;
  justify-content: space-around;
}
.range__container__items__above__text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: 400;
}
.range__container__items__above__icon {
  height: 35px;
  width: 30px;
  align-self: center;
}

.form {
  margin-top: 20px;
}
.form__container {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}
.form__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.form__container__contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px #e69363;
}
.form__container__contact-box__left {
  background: url("../../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}
.form__container__contact-box__right {
  padding: 25px 40px;
}
.form__container__contact-box__right h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
.form__container__contact-box__right h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}
.form__container__contact-box__right__field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.form__container__contact-box__right__field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.form__container__contact-box__right__field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
.form__container__contact-box__right textarea {
  min-height: 150px;
}
.form__container__contact-box__right__btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #f87c34;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.form__container__contact-box__right__btn:hover {
  background-color: #27ae60;
}

.goods {
  width: 100%;
  background: #F87C34;
}
.goods__karusell {
  max-width: 1180px;
}
.goods__karusell__item {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #F87C34;
}
.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  margin: 0 auto;
}
.footer__container__top {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footer__container__top__btn {
  background: #494949;
  border: 2px solid #FFFFFF;
  border-radius: 360px;
  width: 265px;
  height: 65px;
}
.footer__container__top__contactscontainer__text {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 150%;
  font-weight: 500;
  margin-left: 0px;
}
.footer__container__top__contactscontainer__text__img {
  max-width: 40px;
  max-height: 40px;
  margin-inline: 5px;
  text-align: center;
}
.footer__container__top__contactscontainer__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 49px;
  font-weight: 500;
}
.footer__container__top__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__container__top__left__title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 57px;
  font-weight: 600;
  text-align: center;
}
.footer__container__top__center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}
.footer__container__top__right {
  display: flex;
  justify-content: center;
}
.footer__container__top__right__iframe {
  margin-top: 32px;
}
.footer__container hr {
  width: 100%;
  border: 2px solid #FFFFFF;
}
.footer__container__bottom {
  display: flex;
  flex-direction: column;
}
.footer__container__bottom__div1 {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 33px;
  font-weight: 400;
}
.footer__container__bottom__div1__ul {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
.footer__container__bottom__div1__ul__li {
  margin-inline: 10px;
}
.footer__container__bottom__bottomtext {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 33px;
  font-weight: 400;
  text-align: center;
}

#center__container {
  justify-content: center;
}

#center__container {
  margin-top: 100px;
}