swiper-container {
    max-width: 1180px;
    height: 350px;
   
  }

  swiper-slide {
    font-size: 18px;
    background: #fff;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 60px;
  }
  .swiper-slide-left {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
  }
  .swiper-slide-left-top {
    display: flex;
     background-color: #393939;
     border-radius: 0px 360px 360px 0px;
     height: 55px;
     width: 435px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
  }
  .swiper-slide-left-top-text {
    align-self: center;
    margin-bottom: 150px;
  
  }
  .swiper-slide-middle {
    background-color: #F87C34;
    border-style: none;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    align-self: flex-end;
    margin-bottom: 50px;
    
  }
  .swiper-slide-right {
    margin-right: 20px;
  }

  swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }